<app-header></app-header>
<h3 style="text-align: center;">Manage Expenses - {{memberData.name}}</h3>
<table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

    <ng-container matColumnDef="expense">
        <th mat-header-cell *matHeaderCellDef> Expense Name</th>
        <td mat-cell *matCellDef="let element"> {{element.expense}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element">$ {{element.amount}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link">
            <button (click)="openDialog('Update',element)" mat-button color="primary">Edit</button>
            <button (click)="openDialog('Delete',element)" mat-button color="warn">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="button-row">
    <button class='action-btn' mat-button class='action-btn ' (click)="openDialog('Add',{})" mat-flat-button
        color="accent">Add
        Expense</button>
    <button class='action-btn' mat-button routerLink="/home" routerLinkActive="active" mat-flat-button color="primary">
        Go Back
    </button>
</div>