<!-- <nav class="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <fa-icon [icon]="faHome" class="fa-2x"></fa-icon>
        </a>
        <h1>Expense Tracker</h1>
    </div>
</nav> -->


<p>
    <mat-toolbar color="primary"> 
      <button mat-icon-button routerLink="/home" routerLinkActive="active" > 
        <mat-icon>home</mat-icon> 
      </button>
      <!-- <span>My App</span> -->
      <span class="title-center">Expense Tracker</span> 
    </mat-toolbar>
  </p>