<app-header></app-header>
<ng-container *ngIf="!(dataSource!=null && dataSource.length>0); else elseTemplate">
  <h3 class="text-center">
    Welcome to the Expense Tracker App! 
  </h3>
  <h4 class="text-center">Start adding members to calculate/share the expenses!</h4>
  <div style="text-align: center;">
    <button  mat-button (click)="openDialog('Add',{})" mat-raised-button color="accent">
      <mat-icon>add_box</mat-icon> Add Member</button>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef>Total Amount </th>
      <td mat-cell *matCellDef="let element">$ {{element.totalAmount}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button title="Update Member" (click)="openDialog('Update',element)" mat-button color="primary"><mat-icon>edit</mat-icon> Edit</button>
        <button title="Delete Member" (click)="openDialog('Delete',element)" mat-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
        <button title="Add/Remove Expenses" (click)="navigateTo(element)" mat-button color="accent">Manage Expenses</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="button-row">
    <button class='action-btn' mat-button (click)="openDialog('Add',{})" mat-raised-button color="accent">
      <mat-icon>add_box</mat-icon> Add Member</button>
    <button class='action-btn' mat-button (click)="calculateExpenses()" mat-raised-button color="primary"><mat-icon> attach_money</mat-icon> Calculate
      Expenses</button>
  </div>
</ng-template>